.main {
    padding: 100px 0 0 0;
    background: rgba(8, 16, 29, 1);

    &_row {
        display: flex;
        padding: 50px 0 0 0;
        justify-content: space-between;
        
    }

    &_content {
        padding: 110px 0 0 0;
        max-width: 600px;
    }

    &_content-subtitle {
        font-size: 18px;
        color: #3A68B8;
        font-weight: 600;
        line-height: 160%;
        text-transform: uppercase;
        margin: 0 0 10px 0;
    }

    &_content-title {
        font-size: 55px;
        line-height: 130%;
        font-weight: 800;
        color: #fff;
        margin: 0 0 40px 0;
    }

    &_content-text {
        color: rgba(128, 133, 140, 1);
        font-size: 18px;
        font-weight: 600;
        line-height: 160%;
        margin: 0 0 50px 0;
    }

    &_content-buttons {
        display: inline-flex;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(58, 104, 184, 1);
            border-radius: 5px;
            margin: 0 20px 0 0;
            padding: 0 30px;
            min-height: 57px;
            color: #fff;
            line-height: 135%;
            font-size: 20px;
            font-weight: 600;
            transition: all 0.4s  ease-out 0s;
        }
    }

    &_content-btn:hover{
            background: rgba(0,0,0,0);
            color: #3a7999;
            box-shadow: inset 0 0 0 3px #3a7999;
            transition: all 0.4s  ease-out 0s;
    }

    &_content-videobtn:hover{
        background: rgba(0,0,0,0);
        color: #3a7999;
        box-shadow: inset 0 0 0 3px #3a7999;
        transition: all 0.4s  ease-out 0s;
}
    &_content-videobtn::before {
        content: "";
        border-style: solid;
        border-width: 10px 0 10px 16px;
        border-color: transparent transparent transparent #ffffff;
        padding: 0 10px 0 0;
        transition: all 0.4s  ease-out 0s;
    }
    &_content-videobtn:hover.main_content-videobtn::before{
        border-color: transparent transparent transparent #3a7999;
    }
  
    
    &_art {
        align-self: flex-end;
        margin: 0 -200px 90px 0;
        max-width: 632px;
    }

    &_links {
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 108px 0;
        
        a{
            padding: 0 70px 0 0;
        }
        a:last-child{
            padding: 0;
        }
        img{
            transition: all 1s ease-out 0s;
        }
        img:hover{
            filter: hue-rotate(360deg);
            transform: scale(1.1);
        }
    }

}
@media(max-width: 767px) {
    .main{
        padding: 70px 0 0 0;
    }
    .main_row{
        flex-direction: column;
    }
    .main_content {
        padding: 10px 0 0 0;
    }
    .main_content-title{
        font-size: 41px;
    }
    .main_art{
        margin: 0 0 20px 0;
        align-self: flex-start;
        img{
            max-width: 100%;
        }
    }
    .main_content-buttons{
        display: flex;
        flex-direction: column;
        a{
            margin: 0 0 10px 0;
        }
    }
    .main_links{
        flex-direction: column;
        padding: 0 0 15px 0;
        justify-content: center;
        align-items: center;
        a{
            padding: 0;
            margin: 0 0 20px 0;
        }
        img{
            max-width: 180px;
        }
    }
}

//! LEARN...........................//
.learn {
    background-color: 
    rgba(2, 10, 24, 1);

    &_body {
    }

    &_row {
        display: flex;
        padding: 121px 0 170px 0;
        justify-content: space-between;
    }

    &_logo {
        max-width: 669px;
        margin: 0 0 0 -150px;
    }

    &_info {
        max-width: 488px;
        align-self: center;
    }
    &_info-title{
        margin: 0 0 30px 0;
    }
    &_info-text{
        margin: 0 0 50px 0;
    }

    &_info-button {
        display: inline-flex;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(58, 104, 184, 1);
            border-radius: 5px;
            margin: 0 20px 0 0;
            padding: 0 30px;
            min-height: 57px;
            color: #fff;
            line-height: 135%;
            font-size: 20px;
            font-weight: 600;
            transition: all 0.4s  ease-out 0s;
        }
        :hover{
            background: rgba(0,0,0,0);
            color: #3a7999;
            box-shadow: inset 0 0 0 3px #3a7999;
            transition: all 0.4s  ease-out 0s;
        }
    }
}

.subtitle {
    font-size: 40px;
    line-height: 130%;
    font-weight: 700;
    color: #ffffff;
    
}
.text {
    font-size: 16px;
    line-height: 160%;
    font-weight: 600;
    color: rgba(126, 130, 136, 1);
    
}
@media (max-width:1024px) {
    .learn_logo{
        margin: 0 20px 0 0;
        img{
            max-width: 100%;
        }
    }
}
@media(max-width: 767px) {
    .learn_row{
        flex-direction: column;
        padding: 30px 0 15px 0;
    }
    .learn_logo{
        margin: 0 0 20px 0;
        align-self: flex-start;
        img{
            max-width: 100%;
            
        }
    }
    .learn_info-button{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

//!SLIDER ................................//
.slider_body{
    background-color:rgba(2, 10, 24, 1);
}
.slider_body-row{
    max-width: 1920px;
    margin: 0 auto;
}
.swiper {
    min-width: 100%;
    min-height: 435px;
}
.swiper-wrapper {

}
.swiper-slide {
}
.slide {

		&_item {
            background: -webkit-linear-gradient(225deg, rgb(13, 21, 34), rgb(25, 32, 45) 68%);
            background: -moz-linear-gradient(225deg, rgb(13, 21, 34), rgb(25, 32, 45) 68%);
            background: linear-gradient(225deg, rgb(13, 21, 34), rgb(25, 32, 45) 68%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 30px 30px 30px 30px;
            border-radius: 8px;
            max-width: 100%;
            height: 389px;
            -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.65);
            -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.65);
            box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.65);
		}

		&_logo {
            margin-bottom: 30px;
            min-width: 100px;
            min-height: 100px;
            img{
                width: 100px;
                height: 100px;
            }
		}

		&_title {
            color: rgba(184, 187, 191, 1);
            font-size: 25px;
            line-height: 125%;
            font-weight: 700;
            margin-bottom: 30px;
		}

		&_text {
            font-size: 16px;
            line-height: 160%;
            font-weight: 600;
            color: rgba(184, 187, 191, 1);
            text-align: center;
		}
}
.swiper-pagination {
    bottom: 0;
}
.swiper .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    background: rgba(44, 54, 71, 1);
}

//!!ABOUT.....................................//

.about {
    background-color:rgba(2, 10, 24, 1);
    padding: 95px 0 170px 0;

    &_body {
    }

    &_item {
        display: flex;
        justify-content: space-between;
    }

    &_info {
        min-width: 550px;
    }

    &_info-title {
        padding: 45px 0 0 0;
        margin: 0 0 40px 0;
    }

    &_info-text {
        max-width: 460px;
        p{
            margin: 0 0 20px 0;
        }
        p:last-child{
            margin: 0;
        }
    }

    &_logo {
        max-width: 642px;
    }
}

@media (max-width: 1024px) {
    .about{
        padding: 50px 0 50px 0;
    }
    .about_info{
        min-width: 0;
    }
    .about_logo {
        img{
            max-width: 100%;
        }
    }
}
@media (max-width:767px) {
    .about_item{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .about_info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about_title{
        margin: 0;
    }
}

//TODO....POPUP.......................//
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.766);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y:auto;
    overflow-x: hidden;
    transition: all 0.7s ease-in-out 0s;

    &_body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
    }
    &_area{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &_content {
        background: -webkit-linear-gradient(45deg, rgb(9, 14, 47), rgb(63, 122, 124));
        background: -moz-linear-gradient(45deg, rgb(9, 14, 47), rgb(63, 122, 124));
        background: linear-gradient(45deg, rgb(9, 14, 47), rgb(63, 122, 124));
        padding: 25px 15px;
        min-width: 600px;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        position: relative;
        
    }

    &_close {
        width: 20px;
        ::after,
        ::before{
            content: '';
            width: 15px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            top: 18px;
            right: 15px;
            transform: skew(0deg,-45deg);
        }
        ::before{
            transform: skew(0deg,45deg)
        }
    }

    &_title{
        color: #fff;
        font-size: 24px;
        margin-bottom: 25px;
        align-self: center;
    }
}


.form {

    &_items {
        display: flex;
        flex-direction: column;
    }

    &_input {
        display: inline-block;
        align-self: center;
        font-size: 16px;
        margin-bottom: 20px;
        padding: 5px 40px;
        border-radius: 15px;
    }

    &_buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_button {
        margin: 0 40px 0 0;
        padding: 8px 25px;
        min-width: 80px;
        font-size: 18px;
        border-radius: 15px;
        color: #ffffff;
        background: rgba(0,0,0,0);
        box-shadow: inset 0 0 0 3px #ebf0f3af;
        transition: all 0.5s ease 0s;
    }
    &_button:last-child{
        margin: 0;
    }

    &_button:hover{
        background: -webkit-linear-gradient(45deg, rgb(50, 57, 109), rgb(30, 223, 229));
        background: -moz-linear-gradient(45deg, rgb(50, 57, 109), rgb(30, 223, 229));
        background: linear-gradient(45deg, rgb(50, 57, 109), rgb(30, 223, 229));
    }
}
.popup.open {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 767px) {
    .popup_content {
        min-width: 100%;
    }
}