@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
    }
@import "_reset";
@import "_fonts";
@import "_header";
@import "_main";
@import "_footer";

body{
    font-family: "OpenSans";
    font-weight: 600;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1176px;
    padding: 0 15px;
    margin: 0 auto;

}
.main {
    flex: 1 1 auto;

}
